@mixin bordered($color: blue, $width: 1px) {
    border: $width solid $color;
}
.redov {
    border: 2px solid black;
    background: lightblue;
    margin: 10px;
     @include bordered($color: orange);
}
.panel {
    text-align: center;
    padding: 4px;
    background-color: antiquewhite;
    border: 2px solid darkblue;
}
.little-panel {
    @extend .panel;
    font-size: 12px;
    padding: 5px;

}
.big-panel {
    @extend .panel;
    font-size: 32px;
    padding: 20px;

}
