.panel {
    border: 2px solid black;
    background: lightblue;
    margin: 10px;
    @include name();
}
.little-panel {
    @extend .panel;
    font-size: 12px;
    padding: 5px;

}
.big-panel {
    @extend .panel;
    font-size: 32px;
    padding: 20px;

}
@mixin name {
    border-radius: 50%;
    border: 2px dotted green;
}