@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

*{
    color:inherit;
    margin: 0;
}
body {
    font-family: Poppins;
}
ul {
    padding: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
}
hr {
    border: 0;
    border-top: 1px dotted #efefef;
}
img {
    max-width: 100%;
}
h1 {
    a {
        color: red;
    }
}
// variables
$primary:#326dee;
$secondary: #1ac888;
$error:#d32752;
$info:#f6c31c;

h1 {
    color:$primary;
}
a {
    color: $secondary;
}
button {
    color: $info;
    border: 0px;
    background: $primary;
}