@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 70% !important;
}
.hero {
    background-position: center;
    background-size: cover;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./img/hero.jpg");
    height: 100vh;
}